
body{
	display: flex;
	justify-content: center;
	margin: 0;
}
nav{
	background-color: black;
	height: 100%;
	width: 288px;
}
main{
	width: 1100px;
	height: 100%;
	background-color: white;
}
h1{
	font-size: 40px;
	font-family: sans-serif;
	margin: 0;
}

p{
	margin-top: 5px;
	font-family: sans-serif;
	font-size: 18.5px;
	line-height: 1.5;
}
button{
	height: 40px;
	padding-left: 30px;
	padding-right:30px;
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
	border: 2px solid black;
	outline: none;
	margin-right: 10px;
}
input{
	height: 42px;
	margin-top: 10px;
	padding-left:77.5px ;
	padding-right: 77.5px;
	margin-bottom: 10px;
}
select{
	height: 48px;
	padding-left:94px ;
	padding-right: 94px;
}
section{
}
textarea{
    text-align: left;
    margin-top: 10px;
    width: 345px;
    height: 120px;
    border-radius: 5px;
     border:2px solid black;
     resize: none;
}
.main{
	width: 1440px;
	height: 500vh;
	background-color: black;
	display: flex;
}
.contener-1{
	display: flex;
	justify-content: space-between;
	height: 225px;
	background-color: white;
	margin-left: 75px; 
	margin-right: 108px;
	margin-top: 95px;
	margin-bottom: 155px;

}
.contener-1 div{
	background-color: white;
    width: 330px;
}
.contener-1 div:first-of-type{
	width:455px;
}
.button{
    height: 40px;
    padding-left: 30px;
    padding-right:30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    outline: none;
}
.active-button{
	background-color: #fab811;
	border: none;
}
.contener-2{
	display: flex;
	justify-content: space-between;
	margin-left:49px ;
	margin-right:49px;
	margin-top: 40px;
}
#al{
	margin-left:49px ;
	width: 1000px;
}
.contener-3{
	margin-left: 49px;
	width:520px ;
}
.contener-4{
	display: flex;
	justify-content: center;

}
#sht2{
	margin-right: 50px;
	width: 425px;
}
.contener-4 div:first-of-type{
	margin-left: 100px;
	margin-top:125px; 
	margin-right: 100px;
	position: relative;
}
.contener-4 div:first-of-type>h1{
	position: absolute;
	transform: rotate(-90deg);
	top: 130px;
	left: -180px;
}
.contener-4 div:last-of-type{
	margin-top: -20px;
}
.contener-5{
display: flex;	
justify-content: space-between;
}
.p1{

}
.p2{
margin-bottom: 43px;	
}
#sht3{
	margin-left:115px; 
	margin-top:100px;
}
.contener-5 div:last-of-type{
	width: 400px;
	margin-top: 55px;
	margin-right:43px; 
}
.contener-5 div:last-of-type>button{
	padding-left: 15px;
	padding-right:15px;	
margin-bottom:10px;
}
.contener-6 {
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.contener-6 div{
	width: 591px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.contener-6>p{
	margin-left: 62px;
	width: 400px;
}
.push-p{
position: absolute;
transform: rotate(-90deg);
top: 150px;
left: 310px;
letter-spacing: 5px;
}
.contener-7{
	display: flex;
	margin-top: 60px;
margin-bottom: 60px;
}
#sht4{
	height: 430px;
margin-right: 50px;
margin-top: 40px;
}
.contener-7 div{
	width: 400px;
	margin-top: 100px;
	margin-left: 70px;
	margin-right: 50px;
}
.block{
	width: 100%;
	height: 700px;
	background-color: lightgray;
	margin-top: 40px;
	margin-bottom: 20px;
}
textarea{
    text-align: left;
    margin-top: 10px;
    width: 320px;
    height: 120px;
    border-radius: 5px;
     border:2px solid black;
     resize: none;
}
.contener-8{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	align-items: center;
}
.contener-8 a{
	color: black;
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;
	font-style: italic;
}
.contener-8 div{
	margin-top: -90px;
}
form{
	margin-right: 40px;
}
input[type="email"]{
width: 323px;
padding: 0;
}
.contener-9{
	background-color:black ;
	display: flex;
	justify-content: space-between;
}
.contener-9 h1{
color:#fab811;
font-size: 20px;

}
.contener-9 p{
	color: white;
	font-size:20px;
}
.contener-9 a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-family: sans-serif;
}
.q{
		font-family: sans-serif;
}